---
import Layout from '../layouts/Layout.astro';
import Guestbook from '../components/Guestbook.astro';
import Contributions from '../components/Contributions.astro';
import Projects from '../components/Projects.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import projectdata from '../_data/projects.json';
import Contributions from '../components/Contributions.astro';
import contributionsdata from '../_data/contributions.json';

const contributions = contributionsdata;


const filteredProjects = projectdata.filter(project => project.published);


const frontendskills = [
	{ name: 'HTML', color: '#ff3300'},
	{ name: 'CSS', color: '#2071fe'},
	{ name: 'JavaScript', color: '#fff700'},
	// typescript
	{ name: 'TypeScript', color: '#3178C6', link: 'https://www.typescriptlang.org' },
	{ name: 'React', color: '#61DBFB', link: 'https://react.dev' },
	{ name: 'Bootstrap', color: '#7952B3', link: 'https://getbootstrap.com' },
	{ name: 'Tailwind CSS', color: '#06B6D4', link: 'https://tailwindcss.com' },
	{ name: 'Next.js', color: '#eee', link: 'https://nextjs.org' },
	{ name: 'Astro', color: '#FF3E00', link: 'https://astro.build'},
];

const backendskills = [
	{ name: 'Node.js', color: '#68A063', link: 'https://nodejs.org' },
	{ name: 'Express.js', color: '#eee', link: 'https://expressjs.com' },
	{ name: 'MongoDB', color: '#47A248', link: 'https://www.mongodb.com' },
	{ name: 'MySQL', color: '#FFD700', link: 'https://www.mysql.com' },
	{ name: 'REST', color: '#FF5733' },
];

const techskills = [
	{ name: 'Git', color: '#F34F29', link: 'https://git-scm.com' },
	{ name: 'GitHub', color: '#eee', link: 'https://github.com' },
	{ name: 'VS Code', color: '#007ACC', link: 'https://code.visualstudio.com' },
	{ name: 'Netlify', color: '#00C7B7', link: 'https://www.netlify.com' },
];

const otherskills = [
	{ name: 'Figma', color: '#F24E1E', link: 'https://www.figma.com' },
	{ name: 'Video Editing', color: '#FF5733' },
	{ name: 'SEO', color: '#47A248' },
	{ name: 'Google Firebase', color: '#FFA000', link: 'https://firebase.google.com' }
];

	
const projects = filteredProjects;

---

<Layout title="the.melon's portfolio">
  <Header />
  <br>
  <main>
	<div class="introduction">
		<h1 id="name">Hey! I'm<br><span class="text-gradient">the.melon</span></h1>
		<br>
		<p id="typewriter"><i class="fa fa-arrow-right"></i> <span class="welcome-text"></span> <i class="fa fa-arrow-left"></i></p>
		<style>
		@media (max-width: 600px) {

			main {
				font-size: 16px;
				margin-top: 2rem;
			}
			#name {
				font-size: 3rem;
			}
			.text-gradient {
				font-size: 4rem;
			}
			#typewriter {
				font-size: 1.5rem;
			}
			#aboutme {
				margin-top: 65%;
			}
		}
		</style>
		<script>
			const words = ["Welcome to my portfolio!", "I'm a web developer from Germany.", "I'm a Web Designer.", "I'm a Product Tester.", "I'm a melon? :O"];
			let i = 0;
			let j = 0;
			let currentWord = 0;
			let currentText = "";
			let isDeleting = false;
			let isEnd = false;
			function typeWriter() {
				if (i < words.length) {
					if (isDeleting && currentText.length === 0) {
						isDeleting = false;
						currentWord++;
						if (currentWord === words.length) {
							currentWord = 0;
						}
					}
					if (isDeleting) {
						currentText = words[currentWord].substring(0, currentText.length - 1);
					} else {
						currentText = words[currentWord].substring(0, currentText.length + 1);
					}
					document.querySelector('.welcome-text').innerHTML = currentText;
					let speed = 100;
					if (isDeleting) {
						speed /= 2;
					}
					if (currentText === words[currentWord] && !isDeleting) {
						speed = 2000;
						isDeleting = true;
					}
					if (currentText === "" && isDeleting) {
						isEnd = true;
						isDeleting = false;
						currentWord++;
						if (currentWord === words.length) {
							currentWord = 0;
						}
					}
					setTimeout(typeWriter, speed);
				}
			}
			typeWriter();
		</script>
		<nav class="nav-icons">
			<a href="https://github.com/TheMelone2" id="github"><i class="fab fa-github"></i></a>
			<a href="https://discord.com/users/687316434480922664" id="discord"><i class="fab fa-discord"></i></a>
			<a href="mailto:melon@easysystems.live" id="email"><i class="fa fa-envelope"></i></a>			
		</nav>
	</div>
	<h4 id="aboutme">About me:</h4>
	<p id="abt-text">
		Heya!
		<br>
		I'm a web developer based in Germany. I'm currently working on a few projects and learning new things every day. I'm always open to new ideas and projects, so feel free to contact me if you have any questions or want to work with me.
		<br>
		<br>
		Currently I'm working on <b><a href="https://easysystems.live">EasySystems</a></b> a german company that make Discord Apps (formerly known as "bots"). <br>At EasySystems I'm responsible for many tasks for example the legal things, the communication between the team and the customers / users and much more like managing & developing the EasyThreads Website and the EasyThreads Docs.
		<br>
		<br>
		Besides that I'm part of the Lab Assistant and the <a href="https://discord.com/wumpus-feedback-squad" target="_blank" rel="noopener noreferrer"><b>Wumpus Feedback Squad</b></a> program. Our goal there is to provide Discord valuable insights on new or current features as for instance the <a href="https://dis.gd/activities" target="_blank" rel="noopener noreferrer"><b>Discord Activities</b></a>.
		<br>
		<br>
		When I'm not working on projects, I'm usually playing games with my friends, making music, doing sports, or working with our volunteer fire department and much more! :)
		<br>
		<br>
		Feel free to <a href="/portfolio/#contact"><b>contact me</b></a> if you have any questions or want to work with me. I'm always open to new ideas and projects. (. ❛ ᴗ ❛.)
	</p>
	<hr>
	<br>
    <ul role="list" class="link-card-grid">
      <Card
        title="Frontend Skills:"
        skills={frontendskills}
      />
      <Card
        title="Backend Skills:"
		skills={backendskills}
      />
      <Card
        title="Tech Skills:"
		skills={techskills}
      />
      <Card
        title="Other Skills:"
		skills={otherskills}
      />
    </ul>
	<h2 id="projects">Used in many projects... like:</h2>
    <div class="projects">
        {projects.map((project) => (
            <Projects
				projectname={project.projectname}
				projectid={project.projectid}
				projectdescription={project.projectdescription}
				technologies={project.technologies.map((tech: any) => ({ ...tech, icon: "" }))}
				projecttags={project.projecttags}
				projectpreview={project.projectpreview}
				projectlinks={project.projectlinks}
				></Projects>
        ))}
    </div>
	<div class="contributions">
		<h2>My contributions</h2>
		<p>
			I also contribute in other non-dev related projects like...
		</p>
		<br>
		<table>
			<tr>
				<th>Project</th>
				<th>Contribution</th>
				<th>Period of time</th>
			</tr>
			{contributionsdata.map((contribution) => (
				<tr>
					<td id="head"><b><a href={contribution.serverinvite}>{contribution.name}</a></b><br> <span class="community_size">{contribution.size}</span> </td>
					<td><b>{contribution.role}</b>: {contribution.role_description}</td>
					<td>{contribution.time}</td>
				</tr>
			))}
		</table>
		<br>
		<p>
			Besides that I often help on other projects too! I love to translating stuff so I translate stuff in my free time - for example I helped translating some stuff on the <a href="https://www.electronjs.org/" target="_blank" rel="noopener noreferrer"><b>Electron framework</b></a> website, on the <a href="https://hypixel.net" target="_blank" rel="noopener noreferrer"><b>Hypixel Minecraft Server</b></a> (into German) or on the <a href="https://pridebot.xyz" target="_blank" rel="noopener noreferrer"><b>Pridebot</b></a> (Discord Bot / App - also translated into German).
		</p>
	</div>
	
	{contributionsdata.map((contribution) => (
		<Contributions
			name={contribution.name}
			description={contribution.description}
			serverinvite={contribution.serverinvite}
			size={contribution.size}
			role={contribution.role}
			role_description={contribution.role_description}
			time={contribution.time}
		/>
	))}

	<br>
	<br>
	<Guestbook />
  </main>
  <Footer />
</Layout>


<style is:global>
	:root {
		scroll-behavior: smooth;
	}
	
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 5rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		font-weight: 400;
	}

	h1#name {
		display: inline-block;
		position: relative;
		text-decoration: none;
    }
    h1#name::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		border-radius: 5px;
		height: 0.05em;
		bottom: 0;
		left: 0;
		background: currentcolor;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
    }
    h1#name:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
    }
	h1#name:hover {
		cursor: pointer;
	}   
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-size: 8rem;
		font-weight: 700;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.116);
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	
	.introduction {
		text-align: center;
		margin-bottom: 10rem;
	}
	#typewriter {
		font-size: 2.5rem;
		margin-top: 1rem;
	}
	.nav-icons {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}
	.nav-icons a {
		font-size: 2rem;
		margin: 0 0.5rem;
		color: white;
	}
	.nav-icons a {
		color: #fff;
		font-size: 2em;
		margin: 0 0.5em;
		text-decoration: none;
		border-radius: 50%;
		height: 2em;
		width: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-icons #discord:hover {
		color: #5865F2;
		transform: scale(1.1);
		transition: all ease-in-out 0.2s;
		background-color: #fff;
	}
	.nav-icons #github:hover {
		background-color: #fff;
		color: #000000;
		transform: scale(1.1);
		transition: all ease-in-out 0.2s;
	}
	.nav-icons #email:hover {
		background-color: #fff;
		color: rgb(var(--accent-light));
		transform: scale(1.1);
		transition: all ease-in-out 0.2s;
	}
	.nav-icons #email {
		transition: all ease-out 0.4s;
	}
	.nav-icons #github {
		transition: all ease-out 0.4s;
	}
	.nav-icons #discord {
		transition: all ease-out 0.4s;
	}

	@keyframes ease-out {
		0% {
			transform: scale(1);
			}
		100% {
			transform: scale(1.1);
			}
				
	}
	#abt-text a{
		color: white;
		text-decoration: none;
	}
</style>	
