---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import projectdata from '../_data/projects.json';

export const meta = {
  title: 'Projects',
  description: 'A collection of projects I have worked on.',
};
export async function load() {
  return {
    projectdata,
  };
}
---
<div>
  <Header />
  <Layout title="Projects">
    <h1>Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {projectdata.map((project) => (
        <Card
          title={project.title}
          description={project.description}
          image={project.image}
          link={project.link}
          key={project.title}
        />
      ))}
    </div>
  </Layout>
  <Footer />
  
</div>
